<table [class.playing]="gridService.isPlaying">
  @for (row of gridService.grid(); track $index; let rowIndex = $index) {
    <tr>
      @for (column of row; track $index; let columnIndex = $index) {
        <td [class.playing]="gridService.isPlaying" [class.alive]="gridService.grid()[rowIndex][columnIndex]">
          <div
            (click)="switchCellState(rowIndex, columnIndex)"
            (mousedown)="onMouseDownCell()"
            class="cell"></div>
        </td>
      }
    </tr>
  }
</table>
