:host {
  display: block;
  width: stretch;

  border: solid transparent;
  border-radius: 0.5rem;
  corner-shape: squircle;
  background-image:
    linear-gradient(black), linear-gradient(45deg, firebrick, purple);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

table {
  width: 100%;
  background: var(--main-color);
}

td {
  background-color: black;
  cursor: pointer;

  .cell {
    aspect-ratio: 1;
  }
}

.alive {
  background-color: white;
}

.playing {
  cursor: not-allowed;
}
