:host {
  display: block;
  width: 100%;
  border: solid darkslateblue 0.3rem;
}

table {
  width: 100%;
  background-color: darkslateblue;
}

td {
  background-color: black;
  cursor: pointer;

  .cell {
    aspect-ratio: 1;
  }
}

.alive {
  background-color: white;
}
