:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}

app-grid {
  max-width: 70rem;
  margin: 2rem;
}

app-control-menu {
  max-width: 50rem;
}
