body {
  display: flex;
}

app-grid {
  display: block;
  border: solid darkslateblue 0.3rem;
  width: 70rem;
  justify-self: center;
  margin: 2rem;
}

app-control-menu {
  background-color: darkslateblue;
  border-radius: 0.5rem;
  width: 20rem;
  justify-self: center;
}
