:host {
  width: 100%;
  background-color: darkslateblue;
  display: flex;
  justify-content: space-evenly;
  padding: clamp(0rem, 0.75rem, 5vw);
  border-radius: 1rem;
  corner-shape: squircle;
}

button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 3rem;
  border: none;
  cursor: pointer;
}

#shuffle-button {
  background-color: rgb(255, 255, 48);
}

#clear-button {
  background-color: rgb(255, 255, 48);
}

.play-button {
  background-color: green;
}

.stop-button {
  background-color: red;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
